<div class="wraper">
    <div class="data-box">
        <div class="title-section">
            <span class="arrow">
                <img src="../../../../assets/img/icons/Vector.svg"/>
            </span> <span class="title">Taux shopping</span>
          </div>
          <div>
            <p-progressBar [value]="50" />
          </div>
          <div class="pt-2">
            <p-progressBar [value]="92" [style]="{ height: '8px' }">
                <ng-template pTemplate="content" let-value> 
                    <!-- <span>{{value}}%</span>     -->
                </ng-template>
            </p-progressBar>
            <div class="flex justify-content-between">
              <p class="text-white">0%</p>
              <p class="percentage">92%</p>
          </div>
        </div>
        <div class="stats">
          <div><span class="val">Mini Brahim</span><span class="pl-2">92%</span></div>
          <div><span class="val">Mini Brahim</span><span class="pl-2">78%</span></div>
        </div>
    </div>

    <div class="back">
        
    </div> 
    </div>