<div class="grid mt-0">
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <div class="w-full mb-2">
            <app-nb-client></app-nb-client>
        </div>
        <div class="w-full mb-2">
            <app-flux-client></app-flux-client>
        </div>
        <div class="w-full">
            <app-taux-captation></app-taux-captation>
        </div>
        <div class="w-full">
            <app-fidelisation-client></app-fidelisation-client>
        </div>
        <div class="w-full mb-2">
            <app-typologie-clients></app-typologie-clients>
        </div>
        <div class="w-full mb-2">
            <app-taux-shopping></app-taux-shopping>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-6">
        <div class="grid">
            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                <img src="../../../../assets/img/intercom.svg"  class="w-12"/>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-6">
                <app-chiffre-affaires></app-chiffre-affaires>
            </div>   
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-3">
        <div class="w-full mb-2">
            <app-taux-disponibilite></app-taux-disponibilite>
        </div>
        <div class="w-full mb-2">
            <app-taux-service></app-taux-service>
        </div>
        <div class="w-full mb-2">
            <app-temps-prise-charge></app-temps-prise-charge>
        </div>
        <div class="w-full mb-2">
            <app-integrite-produit></app-integrite-produit>
        </div>
    </div>
</div>