<div class="wraper">
    <div class="data-box">
        <div class="title-section">
            <span class="arrow">
                <img src="../../../../assets/img/icons/Vector.svg"/>
            </span> <span class="title">Taux de captation </span>
          </div>
          <div class="stats">
            <div>
                progress
            </div>
            <div><span class="val">Transit</span>427</div> 
          </div>
    </div>

    <div class="back">
        
    </div> 
    </div>