<div class="futuristic-box">
    <div class="futuristic-content">
        <div class="full-w">
            <div class="title-section">
                <span class="arrow">
                    <img src="../../../../assets/img/icons/Vector.svg"/>
                </span> <span class="title">Taux de disponibilité</span>
              </div>
              <div class="w-10 mx-auto">
                    <p class="percentage">90%</p>
                    <p-progressBar [value]="90" [style]="{ height: '8px' }">
                        <ng-template pTemplate="content" let-value> 
                            <!-- <span>{{value}}%</span>     -->
                        </ng-template>
                    </p-progressBar>  
                </div>
                <div class="w-10 mx-auto pt-3">
                    <div class="flex justify-content-between">
                        <p class="text-white">Stock</p>
                        <p class="percentage">92%</p>
                    </div>
                    <p-progressBar [value]="92" [style]="{ height: '8px' }">
                        <ng-template pTemplate="content" let-value> 
                            <!-- <span>{{value}}%</span>     -->
                        </ng-template>
                    </p-progressBar>
                </div>
                <div class="pt-2 pl-2 pr-2">
                    <p-chart type="line" [data]="data" [options]="options"  class="chartline"/>
                </div>
                <div class="w-10 mx-auto pt-3">
                    <div class="flex justify-content-between	">
                        <p class="text-white">Disponibilité pompes</p>
                        <p class="percentage">92%</p>
                    </div>
                    <p-progressBar [value]="92" [style]="{ height: '8px' }">
                        <ng-template pTemplate="content" let-value> 
                            <!-- <span>{{value}}%</span>     -->
                        </ng-template>
                    </p-progressBar>
                </div>
                <div class="pt-2 pl-2 pr-2">
                    <p-chart type="line" [data]="data1" [options]="options1"  class="chartdata"/>
                </div>
                <div class="w-10 mx-auto pt-3 pb-3">
                    <div class="flex justify-content-between	">
                        <p class="text-white">Disponibilité pompiste</p>
                        <p class="percentage">92%</p>
                    </div>
                    <p-progressBar [value]="92" [style]="{ height: '8px' }">
                        <ng-template pTemplate="content" let-value> 
                        </ng-template>
                    </p-progressBar>
                </div>
        </div> 
    </div>
</div>