.wraper{
    background-image: url(../../../../assets/img/icons/dasbchart.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    padding: 0px 10px 20px 10px;
    .title-section{
        font-weight: bold;
        color: #b8ffff;
        font-size: 17px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        justify-content: flex-start;
        flex-direction: row;
        padding-left: 20px;
        padding-top: 20px;
    .title{
        text-transform: uppercase;
    }
    }
    .percentage{
        text-align: right;
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        padding-bottom: 5px;
    }
}
::ng-deep .chartline{
    display: flex;
    height: 95px !important;
    width: 100% !important;
    div{
        width: 100%;
    }
}
::ng-deep .chartdata{
    display: flex;
    height: 80px !important;
    width: 100% !important;
    div{
        width: 100%;
    }  
}