<div class="futuristic-box">
    <div class="futuristic-content">
    <div class="data-box">
        <div class="title-section">
            <span class="arrow">
                <img src="../../../../assets/img/icons/Vector.svg"/>
            </span> <span class="title">Chiffre d’affaires</span>
        </div>
          <div class="stats">
            <div>
                <p><img src="../../../../assets/img/icons/icon1.png" /></p>
                <span class="">Carburant</span>
                <span class="val">20M</span>
            </div>
            <div>
                <p><img src="../../../../assets/img/icons/icon2.svg" /></p>
                <span class="">Oasis Café</span>
                <span class="val">10M</span>
            </div>
            <div>
                <p><img src="../../../../assets/img/icons/icon3.svg" /></p>
                <span class="">Mini Brahim</span>
                <span class="val">8M</span>
            </div>
            <div>
                <p><img src="../../../../assets/img/icons/icon4.svg" /></p>
                <span class="">Auto-Go</span>
                <span class="val">4M</span>
            </div>
          </div>
    </div>
    </div> 
    </div>