<div class="futuristic-box">
    <div class="futuristic-content">
        <div class="full-w">
            <div class="title-section">
                <span class="arrow">
                    <img src="../../../../assets/img/icons/Vector.svg"/>
                </span> <span class="title">Evolution CA Carburant </span>
              </div>
              <div class="pt-2 pl-2 pr-2">
                <p-chart type="line" [data]="data" [options]="options"  class="chartevo"/>
              </div>
        </div>
    </div>
</div>