<div class="futuristic-box">
  <div class="futuristic-content">
    <div class="data-box">
        <div class="title-section">
            <span class="arrow">
                <img src="../../../../assets/img/icons/Vector.svg"/>
            </span> <span class="title">NOMBRE DE CLIENTS</span>
          </div>
          <div class="main-count">
            <div class="icon"><img src="../../../../assets/img/icons/user.svg" /></div>
            <div class="number">2,368</div>
          </div>
          <div class="stats">
            <div><span class="val">896</span>Carburant</div>
            <div><span class="val">302</span>Mini Brahim</div>
            <div><span class="val">956</span>Oasis Café</div>
            <div><span class="val">214</span>Auto-Go</div>
          </div>
    </div>
  </div>
</div>