<div class="grid pt-2">
    <div class="col-12 sm:col-12 md:col-12 lg:col-3 hidden lg:block">
        <div class="header-menu">
            <img src="../../../../assets/img/logoaff.png" />
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-6 hidden lg:block">
        <div class="grid header-center">
            <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                <img src="../../../../assets/img/icons/groupe-right.svg" class="w-9 pt-2"/>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-4">
                <h4 class="titre-digital">DIGITAL TWIN<br>
                    STATION TAFRAOUTI</h4>
            </div>
            <div class="col-12 sm:col-12 md:col-12 lg:col-4 text-right hidden lg:block">
                <img src="../../../../assets/img/icons/groupe-left.svg" class="w-9 pt-2"/>
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-3 hidden lg:block">
        <div class="header-left">
            <div class="ville">Casablanca</div>
            <div class="date">2025-03-24</div>
            <div class="meteo">20 °c</div>
        </div>
    </div>
</div>